{% extends "base.html" %}

{% block content %}
<!-- Content Cards -->
<div class="container content-container">
    <div class="row" id="contentCards">
        <!-- Skeleton Loading -->
        <div class="col-md-6 col-lg-4 mb-4 skeleton-card">
            <div class="card">
                <div class="skeleton skeleton-img"></div>
                <div class="card-body">
                    <div class="skeleton skeleton-title"></div>
                    <div class="skeleton skeleton-text"></div>
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 skeleton-card">
            <div class="card">
                <div class="skeleton skeleton-img"></div>
                <div class="card-body">
                    <div class="skeleton skeleton-title"></div>
                    <div class="skeleton skeleton-text"></div>
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 skeleton-card">
            <div class="card">
                <div class="skeleton skeleton-img"></div>
                <div class="card-body">
                    <div class="skeleton skeleton-title"></div>
                    <div class="skeleton skeleton-text"></div>
                    <div class="skeleton skeleton-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_elements %}
<!-- Play Random Button -->
<button class="btn btn-primary btn-play-random" id="playRandomBtn" title="Listen Random">
    <i class="bi bi-play-fill"></i>
</button>
{% endblock %}

{% block extra_js %}
<script src="/static/js/main.js"></script>
{% endblock %}
